In [1]:
import pandas as pd

In [3]:
surveys = pd.read_csv('..\CourseFile\StackOverflowDeveloperSurvey.csv', usecols=['CompanySize'], squeeze=True)
surveys.head()

0                         NaN
1          20 to 99 employees
2    10,000 or more employees
3    10,000 or more employees
4          10 to 19 employees
Name: CompanySize, dtype: object

In [4]:
surveys[3]

'10,000 or more employees'

In [5]:
surveys[1:10]

1          20 to 99 employees
2    10,000 or more employees
3    10,000 or more employees
4          10 to 19 employees
5                         NaN
6          20 to 99 employees
7     Fewer than 10 employees
8    5,000 to 9,999 employees
9                         NaN
Name: CompanySize, dtype: object

Wartości z indeksu 3 odpowiadają sobie

In [6]:
surveys[12345]

'20 to 99 employees'

In [7]:
surveys[12341:12351]

12341                         NaN
12342    1,000 to 4,999 employees
12343    10,000 or more employees
12344        100 to 499 employees
12345          20 to 99 employees
12346                         NaN
12347     Fewer than 10 employees
12348          20 to 99 employees
12349          20 to 99 employees
12350          20 to 99 employees
Name: CompanySize, dtype: object

Wartości z indeksu 12345 odpowiadają sobie

In [8]:
surveys.sort_values(inplace=True)

In [9]:
surveys[3]

'10,000 or more employees'

In [11]:
surveys[1:11]

36683    1,000 to 4,999 employees
43105    1,000 to 4,999 employees
43102    1,000 to 4,999 employees
30582    1,000 to 4,999 employees
43072    1,000 to 4,999 employees
43063    1,000 to 4,999 employees
23955    1,000 to 4,999 employees
43060    1,000 to 4,999 employees
43056    1,000 to 4,999 employees
30558    1,000 to 4,999 employees
Name: CompanySize, dtype: object

In [12]:
surveys.reset_index(drop=True,inplace=True)

In [13]:
surveys[3]

'1,000 to 4,999 employees'

In [14]:
surveys[1:11]

1     1,000 to 4,999 employees
2     1,000 to 4,999 employees
3     1,000 to 4,999 employees
4     1,000 to 4,999 employees
5     1,000 to 4,999 employees
6     1,000 to 4,999 employees
7     1,000 to 4,999 employees
8     1,000 to 4,999 employees
9     1,000 to 4,999 employees
10    1,000 to 4,999 employees
Name: CompanySize, dtype: object