In [1]:
import pandas as pd
import numpy as np
fuel = pd.read_csv('../CourseFile/fuel.csv', low_memory=False, usecols=['Vehicle ID','Year','Make','Model','Class','Fuel Type','Combined MPG (FT1)'])
fuel.head()

,Vehicle ID,Year,Make,Model,Class,Fuel Type,Combined MPG (FT1)
0,26587,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0
1,27705,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0
2,26561,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0
3,27681,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0
4,27550,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,Regular,17.0

In [2]:
fuel.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31684 entries, 0 to 31683
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Vehicle ID          31684 non-null  int64
 1   Year                31684 non-null  int64
 2   Make                31684 non-null  object
 3   Model               31683 non-null  object
 4   Class               31683 non-null  object
 5   Fuel Type           31683 non-null  object
 6   Combined MPG (FT1)  31683 non-null  float64
dtypes: float64(1), int64(2), object(4)
memory usage: 8.9 MB

In [4]:
fuel['Year'] = fuel['Year'].astype('int')

In [5]:
fuel.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31684 entries, 0 to 31683
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Vehicle ID          31684 non-null  int64
 1   Year                31684 non-null  int32
 2   Make                31684 non-null  object
 3   Model               31683 non-null  object
 4   Class               31683 non-null  object
 5   Fuel Type           31683 non-null  object
 6   Combined MPG (FT1)  31683 non-null  float64
dtypes: float64(1), int32(1), int64(1), object(4)
memory usage: 8.8 MB

In [6]:
fuel['Make'] = fuel['Make'].astype('category')
fuel['Model'] = fuel['Model'].astype('category')
fuel['Class'] = fuel['Class'].astype('category')
fuel['Fuel Type'] = fuel['Fuel Type'].astype('category')

In [7]:
fuel['Make'].value_counts()

Chevrolet                           3389
Ford                                2721
Dodge                               2361
GMC                                 2174
Toyota                              1599
                                    ...
Panoz Auto-Development                 1
CODA Automotive                        1
Environmental Rsch and Devp Corp       1
E. P. Dutton, Inc.                     1
ASC Incorporated                       1
Name: Make, Length: 128, dtype: int64

In [8]:
fuel['Combined MPG (FT1)'] = fuel['Combined MPG (FT1)'].astype('float')

In [9]:
fuel.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31684 entries, 0 to 31683
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Vehicle ID          31684 non-null  int64
 1   Year                31684 non-null  int32
 2   Make                31684 non-null  category
 3   Model               31683 non-null  category
 4   Class               31683 non-null  category
 5   Fuel Type           31683 non-null  category
 6   Combined MPG (FT1)  31683 non-null  float64
dtypes: category(4), float64(1), int32(1), int64(1)
memory usage: 1.1 MB