In [1]:
import pandas as pd
import numpy as np
surveys = pd.read_csv("../CourseFile/StackOverflowDeveloperSurvey2018.csv", low_memory=False, usecols=['Country','Gender','OperatingSystem'])
surveys.head()

          Country OperatingSystem Gender
0           Kenya     Linux-based   Male
1  United Kingdom     Linux-based   Male
2   United States             NaN    NaN
3   United States         Windows   Male
4    South Africa         Windows   Male

In [2]:
surveys['Country'].is_unique

False

In [4]:
surveys['Country'].unique()[:5]

array(['Kenya', 'United Kingdom', 'United States', 'South Africa',
       'Nigeria'], dtype=object)

In [5]:
surveys['Country'].nunique()

183

In [6]:
len(surveys['Country'].unique())

184

In [8]:
duplicatesKeepFirst = surveys['Country'].duplicated()
surveys[~duplicatesKeepFirst]

                                     Country OperatingSystem  Gender
0                                      Kenya     Linux-based    Male
1                             United Kingdom     Linux-based    Male
2                              United States             NaN     NaN
4                               South Africa         Windows    Male
7                                    Nigeria         Windows  Female
...                                      ...             ...     ...
86051                                Eritrea     Linux-based    Male
89738  Democratic People's Republic of Korea             NaN     NaN
92028                               Djibouti             NaN     NaN
93487                                    NaN             NaN     NaN
96975                          Guinea-Bissau             NaN     NaN

[184 rows x 3 columns]

In [9]:
len(surveys[~duplicatesKeepFirst])

184

In [11]:
surveys.drop_duplicates(['Country', 'OperatingSystem'],inplace=True)

In [12]:
surveys.query("Country == 'Poland'")

      Country OperatingSystem Gender
30     Poland     Linux-based   Male
34     Poland         Windows   Male
232    Poland             NaN    NaN
854    Poland           MacOS   Male
72587  Poland        BSD/Unix    NaN